<h1>Citizen Stories</h1>

People across Canada use technology that makes use of data as part of their daily lives. Increasingly they are starting to think about creatives ways that this technology and data can be used to address issues they face in their communities and cities. When citizens come together to identify problems in their society or their community and solve them with data, computers, or expertise, we call this <em>civic technology</em>.

Many kinds of data, and their uses come up when we talk about open data- and we’re going to know about them the end of this guide. 

<h3>How are communities using Open Data?</h3>
<p>Groups are using Open Data to come together and <b>form communities</b>, to <b>face pressing issues</b> that matter to them, and to <b>develop individuals’ abilities and skills</b>.
</p>

<div class="row">
  <div class="col-sm-6 col-md-6">
    
    <div class="media">
      <a class="media-left" href="#">
	<img src="/images/bobby.png"  class="media-object" alt="...">
      </a>
      <div class="media-body">
        <h3 class="media-heading">Bobby</h3>
        <p>I’m Bobby, a highschool student. Right now, I’m trying to read stories about people using data and learn about new tools, but I also want to look for data in my neighborhood.</p>
      </div>
    </div>
    
    <div class="media">
      <a class="media-left" href="#">
	<img class="media-object" src="/images/shannon.png" alt="...">
      </a>
      <div class="media-body">
        <h3 class="media-heading">Shannon</h3>
        <p>Hi, I’m Shannon and I work as a programming manager out of my local community center. I have ideas about what I think the solution could look like, but I don’t always know how technology or new information from my city or province could help.</p>
      </div>
    </div>
    
    
    <div class="media">
      <a class="media-left" href="#">
	<img class="media-object" src="/images/kim.png" alt="...">
      </a>
      <div class="media-body">
        <h3 class="media-heading">Kim</h3>
        <p>Hi, I’m Kim! I’m a public servant working in a small city. I'm working on our city's action plan, and want to know about Open Data best practises.</p>
      </div>
    </div>
    
    
    <div class="media">
      <a class="media-left" href="#">
	<img class="media-object" src="/images/andy.png" alt="...">
      </a>
      <div class="media-body">
        <h3 class="media-heading">Andy</h3>
        <p>I’m Andy, and I’m a data scientist that works in a large company downtown. I’m really interested in building things that can help my city and community!.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    
    <div class="media">
      <div class="media-left">
	<a href="http://civictech.ca/">
	  <img class="media-object" src="/images/ctto.png" alt="Civic Tech Toronto">
	</a>
      </div>
      <div class="media-body">
	<h4 class="media-heading">Civic Tech Toronto (Toronto)</h4>
	Civic Tech Toronto (CTTO) is a self-described “diverse community of Torontonians interested in better understanding and finding solutions to civic challenges through technology, design or other means.”
      </div>
    </div>
    
    <div class="media">
      <div class="media-left">
	<a href="http://branigan.ca/post/path_mapping">
	  <img class="media-object" src="/images/pathmapping.png" alt="Path Mapping">
	</a>
      </div>
      <div class="media-body">
	<h4 class="media-heading">Path Mapping</h4>
	In 2013, Kevin Branigan and Andrew Guay took it upon themselves to draw a better map of the PATH, Toronto's unnavigable underground mall, and to release 2D and 3D versions of that map. As another act of data collection and creation, Branigan also <b>manually</b>  counted every step in TTC stairwells to create accessibility profiles for the stations.
      </div>
    </div>

    <div class="media">
      <div class="media-left">
	<a href="https://dashboard.edmonton.ca/">
	  <img class="media-object" src="/images/edmonton_citizendash.png" alt="Edmonton Citizen Dashboard">
	</a>
      </div>
      <div class="media-body">
	<h4 class="media-heading">City of Edmonton's Citizen Dashboard</h4>
	<p>The City of Edmonton uses Open Data to track their service performance and policy goals, allowing citizens to stay up to date with the efforts of the munnicipal government. </p>
      </div>
    </div>
    
    <div class="media">
      <div class="media-left">
	<a href="http://www.straight.com/blogra/471426/east-van-garbage-watch-illegal-dumping-vancouver-numbers">
	  <img class="media-object" src="/images/east_van_garbage.jpg" alt="East Van Garbage Watch">
	</a>
      </div>
      <div class="media-body">
	<h4 class="media-heading">East Van Garbage Watch (Vancouver)</h4>
	East Van Garbage Watch, is not so much a ‘living project’, but makes use of specific municipal Open Data sets to address an issue concerning residents in Vancouver’s east side.
      </div>
    </div>

    
  </div>
</div>
