<h1>Citizen Stories</h1>

People across Canada use technology that makes use of data as part of their daily lives. Increasingly they are starting to think about creatives ways that this technology and data can be used to address issues they face in their communities and cities. When citizens come together to identify problems in their society or their community and solve them with data, computers, or expertise, we call this <em>civic technology</em>.

Many kinds of data, and their uses come up when we talk about open data- and we’re going to know about them the end of this guide. 

<h3>How are communities using Open Data?</h3>
<p>Groups are using Open Data to come together and <b>form communities</b>, to <b>face pressing issues</b> that matter to them, and to <b>develop individuals’ abilities and skills</b>.

Some examples include:
</p>

<div class="container-fluid">
  <div class="media">
    <div class="media-left">
      <a href="http://civictech.ca/">
	<img class="media-object" src="/images/ctto.png" alt="Civic Tech Toronto">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Civic Tech Toronto (Toronto)</h4>
      Civic Tech Toronto (CTTO) is a self-described “diverse community of Torontonians interested in better understanding and finding solutions to civic challenges through technology, design or other means.” Started in 2015, initial projects have been driven by individual interest and abilities, focusing on (though not exclusively!) creating websites to increase access to government data and services.
    </div>
  </div>
  
  <div class="media">
    <div class="media-left">
      <a href="http://branigan.ca/post/path_mapping">
	<img class="media-object" src="/images/pathmapping.png" alt="Path Mapping">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Path Mapping</h4>
      In 2013, Kevin Branigan and Andrew Guay took it upon themselves to draw a better map of the PATH, Toronto's unnavigable underground mall, and to release 2D and 3D versions of that map. As another act of data collection and creation, Branigan also <b>manually</b>  counted every step in TTC stairwells to create accessibility profiles for the stations.
    </div>
  </div>
  
  <div class="media">
    <div class="media-left">
      <a href="http://www.straight.com/blogra/471426/east-van-garbage-watch-illegal-dumping-vancouver-numbers">
	<img class="media-object" src="/images/east_van_garbage.jpg" alt="East Van Garbage Watch">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">East Van Garbage Watch (Vancouver)</h4>
      East Van Garbage Watch, is not so much a ‘living project’, but makes use of specific municipal Open Data sets to address an issue concerning residents in Vancouver’s east side.
    </div>
  </div>
</div>
