<div class="row">
  
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="images/bobby.png" alt="...">
      <div class="caption">
        <h3>Bobby</h3>
        <p>I’m Bobby, a highschool student. This semester, I’m doing a class on data management, and my teacher is teaching a unit on open data. For this, she has assigned something called the Citizen's Guide to Open Data. I like to work with computers- especially when I have  a lot of freedom to experiment. Right now, I’m trying to read stories about people using data and learn about new tools, but I also want to look for data in my neighborhood.</p>
        <p><a href="#" class="btn btn-primary" role="button">Begin</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="images/shannon.png" alt="...">
      <div class="caption persona-thumbnail">
        <h3>Shannon</h3>
        <p>Hi, I’m Shannon and I work as a programming manager out of my local community center. I’m responsible for a bit of everything: creating plans to deliver ongoing programming and events, developing plans for future activities and writing grants in order to help make them a reality. There are a lot of things blocking my community from achieving all that we can. I have ideas about what I think the solution could look like, but I don’t always know how technology or new information from my city or province could help.</p>
        <p><a href="#" class="btn btn-primary" role="button">Begin</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="images/kim.png" alt="...">
      <div class="caption">
        <h3>Kim</h3>
        <p>Hi, I’m Kim! I’m a public servant working in a small city. I handle a lot of different tasks in my day to day work, because I am always trying to keep up with the needs of citizens in our community. Recently, there’s been a lot of been talk in City Hall and in the Council about “Open Data.” Of course, I'm working on our cities action plan.</p>
        <p><a href="#" class="btn btn-primary" role="button">Begin</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="/images/andy.png" alt="...">
      <div class="caption">
        <h3>Andy</h3>
        <p>I’m Andy, and I’m a data scientist that works in a large company downtown. I’ve done my fair share of statistics and analytics, and I’ve even done well in a few of the Kaggles that I’ve entered. I know it sounds nerdy, but data is my job and my hobby :p. I’m very interested in predictive analytics, and I’m always looking for new ways to test my skills! Lately I have been going to meetups, I’m really interested in building things that I wouldn’t get to do through work.</p>
        <p><a href="#" class="btn btn-primary" role="button">Begin</a></p>
      </div>
    </div>
  </div>
  
</div>
