<div class="row">

  <h1>Personas</h1>
      <p>Many different kinds of people might want to work with Open Data, or the Citizen's Guide, for a number of reasons. Here's a few examples of the kinds of people we imagined when we wrote this guide. Don't see your story represented? Send us an email!</p>
  
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="images/bobby.png" alt="...">
      <div class="caption">
        <h3>Bobby</h3>
        <p>I’m Bobby, a highschool student. This semester, I’m doing a class on data management, and my teacher is teaching a unit on open data. For this, she has assigned something called the Citizen's Guide to Open Data. I like to work with computers- especially when I have  a lot of freedom to experiment. Right now, I’m trying to read stories about people using data and learn about new tools, but I also want to look for data in my neighborhood.</p>
	<p>For the end of this class unit, my classmates and I have to work with open data from our city to make a visualization. I might add to the Citizen's Guide or report on some new data project. I’ve already got a group of classmates that I am excited to work with!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="images/shannon.png" alt="...">
      <div class="caption persona-thumbnail">
        <h3>Shannon</h3>
        <p>Hi, I’m Shannon and I work as a programming manager out of my local community center. I’m responsible for a bit of everything: creating plans to deliver ongoing programming and events, developing plans for future activities and writing grants in order to help make them a reality. There are a lot of things blocking my community from achieving all that we can. I have ideas about what I think the solution could look like, but I don’t always know how technology or new information from my city or province could help.</p>
	<p>I’ve seen a lot of buzz about programmers trying to help people out. I’ve also seen a lot of projects from outsiders try, and fail, to make things better for the communities I work with. I looking for examples of how people have overcome that interia with data and technoology and how I can emulate that sucess.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="images/kim.png" alt="...">
      <div class="caption">
        <h3>Kim</h3>
        <p>Hi, I’m Kim! I’m a public servant working in a small city. I handle a lot of different tasks in my day to day work, because I am always trying to keep up with the needs of citizens in our community. Recently, there’s been a lot of been talk in City Hall and in the Council about “Open Data.” Of course, I’m working on the city’s action plan.</p>
	<p>I know Open Data means making my work available to the public, but I am not sure where to begin!  I did come across a lot of stuff about Open Data on the Internet though, including the Citizen’s Guide. I’m hoping that I’ll be able to find standards and examples of best practises for releasing municipal data, but I’m also interested in seeing how people in my community might want to use the data, so I can release what they want it in ways that they can use it!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="/images/andy.png" alt="...">
      <div class="caption">
        <h3>Andy</h3>
        <p>I’m Andy, and I’m a data scientist that works in a large company downtown. I’ve done my fair share of statistics and analytics, and I’ve even done well in a few of the Kaggles that I’ve entered. I know it sounds nerdy, but data is my job and my hobby :p. I’m very interested in predictive analytics, and I’m always looking for new ways to test my skills! Lately I have been going to meetups, a lot of them are social, and some are just showcasing new technology, but I’m really interested in building things that I wouldn’t get to do through work.</p>

	<p>I’ve lately been going to a group that works on something called ‘civic technology’. It’s sort of like community service, but it’s about building better cities. People there use a lot of “open data”; I’ve seen some examples of projects and they look pretty cool. Right now, I am looking to get a better understanding of what kinds of things I might find when looking at open data, and what kinds of stuff I can do with it!</p>
      </div>
    </div>
  </div>
  
</div>
