<nav class="nav-side-menu">
    <div class="brand">1</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-archive fa-lg" aria-hidden="true"></i> Citizen Stories <span class="caret"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                  <li>Meet Open Data Users</li>
                </ul>

                <li data-toggle="collapse" data-target="#products" class="collapsed">
                  <a href="#"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Citizen's Guide <span class="caret"></span></a>
                </li>
                <ul class="guide-sub-menu collapse" id="products">
                    <li><a href="#">1:</a></li>
                    <li><a href="#">2:</a></li>
                    <li><a href="#">3:</a></li>
                    <li><a href="#">4:</a></li>
                    <li><a href="#">5:</a></li>
                    <li><a href="#">References</a></li>
                </ul>

                <li>
                  <a href="#"><i class="fa fa-link" aria-hidden="true"></i> Additional Resources</a>
                </li>

                <li>
                  <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About this Guide</a>
                </li>
            </ul>
     </div>
</nav>
