<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/info-modal.js"></script>
<div id="popup" class="overlay">
  <div class="popup clearfix">
    <div class="overlay-content">
      <h2>What is the Citizen's Guide?</h2>
      <p>We are preparing a <strong>Citizen’s Guide to Open Data</strong> (<a href="#">citizens-guide-open-data.github.io</a>) that provides <strong>citizens with tools to understand what makes up open data, how it can be used in their communities, and where to find it</strong>. It is designed to be used by citizens, community groups, and students seeking to learn open data stories, concepts, and tools.</p>
      <p>The Citizen’s Guide effort is set to <strong>launch Fall 2016</strong> as part of <a href="http://geothink.ca" target="_blank">Geothink</a> and is lead by Professor Leslie Shade at University of Toronto and assisted by Masters students Curtis McCord and Dawn Walker.</p>
      <p>If you are interested, you can read our current <a href="https://goo.gl/jiEkaM" target="_blank">draft guide</a> (<a href="https://goo.gl/jiEkaM" target="_blank">goo.gl/jiEkaM</a>) and <a href="https://goo.gl/2Q4Lku" target="_blank">open data personas</a> (<a href="https://goo.gl/2Q4Lku" target="_blank">https://goo.gl/2Q4Lku</a>)!</p>
      <button id="button">Thanks, let me check it out!</button>
    </div>
  </div>
</div>
