<div class="panel panel-default tooltip-panel">
  <!-- Default panel contents -->
  <div class="panel-heading tooltip-heading">Common File Formats</div>
  <div class="panel-body tooltip-body">
  <!-- Table -->
  <table class="table">
    <tr>
      <th><strong>Format</strong></th>
      <th>Description</th>
    </tr>

     <tr>
      <th><b>.xml (Extensible Markup Language)</b></th>
      <th>A language for describing text-based data using tags. XML can be read by both humans and machines, and is based on open and free standards. </th>
     </tr>

      <tr>
      <th><b>.csv (Comma Separated Values)</b></th>
      <th>A human-readable format used to store tabular data as text that can be understood by many different programs, and is often used as a way to interact with information across software applications (data-interchange).</th>
      </tr>

    <tr>
      <th><b>.json (JavaScript Object Notation)</b></th>
      <th>Another human-readable data-interchange format based that stores information about objects in ‘pairs’ of an attribute name and value.</th>
    </tr>

    <tr>
      <th><b>.pdf (Portable Document Format)</b></th>
      <th>An very common, and open (as of 2008) format for document presentation independent of the application or devices used to access it. A .pdf contains all of the information needed for a pdf reader to display it. A PDF may or may not be machine readable.</th>
    </tr>

    <tr>
      <th><b>.rdf (Resource Description Framework)</b></th>
      <th>A standardized framework for conceptually modelling semantic (human readable) information about almost anything.</th>
    </tr>

    <tr>
      <th><b>.kml (Keyhole Markup Language)</b></th>
      <th>A special version, or extension, of XML used specifically for geographic information and linking coordinates on a map to information, like a specific place, or attribute. Originally developed by Google for Google Earth.</th>
    </tr>

    <tr>
      <th><b>.doc(x) (Open Office XML)</b></th>
      <th>An extension of XML for displaying and editing Microsoft Word documents. Can be read by some other programs.</th>
    </tr>

    <tr>
      <th><b>.xls(x) (Open Office XMP Workbook)</b></th>
      <th>An extension of XML for displaying Microsoft Excel Documents, which can be read by some other programs.</th>
    </tr>

    <tr>
      <th><b>.shp, .shx, .dbf (Shapefile)</b></th>
      <th>Shapefiles are a groups of files used to describe geospatial features in terms of points, lines, and areas (polygons). They often come in a compressed folder (.zip) and are not readable by humans unless working with a geographic information system (GIS) program. </th>
    </tr>
  </table>
  </div>
</div>
