<div class="panel panel-default tooltip-panel">
  <!-- Default panel contents -->
  <div class="panel-heading tooltip-heading">Selected Open Data Projects</div>
  <div class="panel-body tooltip-body">
    <!-- Table -->

    <table class="table" style:align="center">
      <tr>
	<th><strong>Project Name</strong></th>
	<th><b>Description</b></th>
      </tr>

      <tr>
	<td></td>
	<td><b>OD projects by organizations, non-profit or for-profit</b></td>
      </tr>

      <tr>
	<td><a href="http://represent.opennorth.ca/demo/">Represent Civic Information API, Open North</a></td>
	<td>The &ldquo;Represent&rdquo; API is an open sourced web tool, that allows users to input their location and find the local elected officials and electoral districts for that location, and can also download a spreadsheet of official contact information of elected representatives.</td>
      </tr>

<tr>
  <td><a href="iamsick.ca">iamsick.ca</a></td>
  <td>iamsick.ca offers a geo-tagged map of healthcare services available in Toronto. Users can filter available services according to specified metrics like ‘a family doctor looking new patients’ in a specified area, matching services that meet their criteria. iamsick uses the locations of pharmacies and clinics, and their contact information. By aggregating public information the platform aids in efficient information finding of healthcare services in Toronto.
  </td>
</tr>

<tr>
  <td><a href="https://transitapp.com">transitapp</a></td>
  <td>Transit App is a commercial product for users to plan their commute, free to download on the app store for Apple and Android. The basic version of the Transit App is free to use, while a subscription model is available to access the full version. The Transit App includes data from transportation agencies in both Toronto and the GTA, supporting a variety of transportation options using the TTC, Go Transit, Uber, Bikeshare, among others. This product is active within multiple cities worldwide. The Transit app map uses open transportation and geography data that follows the standardized open transit data format. </td>
</tr>	

<tr>
  <td><a href="https://cpdb.co/data/D8w9yw/citizens-police-data-projec">Citizen's Police Data Project</a></td>
  <td>The Citizen Police Data Project is led by the Invisible Institute, a nonprofit journalism organization based in Chicago, United States. They worked with local journalists, developers, and lawyers to create a public resource looking at police misconduct in Chicago. The data visualizations available on the site uses open data sets in combination with data obtained through Freedom of Information requests for police misconduct records. The open data used in this project includes geographic data like the Chicago ward boundaries and neighborhood boundaries. The purpose of this project is to promote public oversight of police misconduct in the city of Chicago.</td>
</tr>

      <tr>
	<td><a href="https://openaq.org/">OpenAQ</a></td>
	<td>The mission of OpenAQ is to create an accessible data hub for up-to-date, historical, and machine-readable air quality data by aggregating datasets from governments, research institutions, and other sources. Air quality data is often gathered and shared locally and in inconsistent formats, contributing to  gaps in air quality research. OpenAQ provide a platform for community-driven resources to standardize the collection of air quality data. They provide exploration tools that visualize the geo-location of traced chemicals, and also compare air quality data across different available locations. The data used to create visualizations is publicly available for download. </td>
      </tr>

<tr>
  <td> </td>
  <td><b>Open Data tools made by governments</b></td>
</tr>

<tr>
  <td><a href="http://www1.toronto.ca/wps/portal/contentonly?vgnextoid=63dfad7efc232510VgnVCM10000071d60f89RCRD">ChemTRAC Toronto</a></td>
  <td>Toronto Public Health collects environmental data from local businesses and institutions on 25 priority substances, chemicals linked to short term and long term health problems. Small businesses and industrial enterprises are required to report on the use and emissions of priority substances. Toronto Public Health created this interactive map to display where tracked chemicals are reported to be present and their level of hazard, so that citizens can locate and track pollution in local neighbourhoods. The map is updated when new data is available. Raw data used to construct the map can be downloaded as open data.</td>
</tr>

<tr>
  <td><a href="https://itunes.apple.com/ca/app/toronto-beaches-water-quality/id453031400?mt=8">Toronto Beaches Water Quality</a> </td>
  <td>The Toronto Beaches Water Quality app was created by Toronto Public Health, and it is free to download. This tool was created to gauge the risks of infection from swimming in Toronto waters. In the summer months, the city of Toronto periodically tests for E. Coli bacteria in the waters. The app takes the collected raw data and visualizes the status of the water quality. The app provides a notification if beach waters are unsafe for swimming. 
</td>
</tr>

<tr>
  <td><a href="http://map.toronto.ca/wellbeing/">Wellbeing Toronto</a></td>
  <td>Wellbeing Toronto is a web tool created by the city of Toronto that aims to support neighborhood level planning and research. The tool visualizes geospatial data on demographics, landmarks, government and social services according to the themes of housing, safety, health, education, among other indicators. This tool is interactive; it allows users to combine or isolate set indicators based on location. </td>
</tr>

<tr>
  <td></td>
  <td><b>Projects that are Community Driven</b></td>
</tr>

<tr>
  <td><a href="http://budgetpedia.ca/">BudgetPedia</a></td>
  <td>BudgetPedia is a volunteer-led project that convenes at Civic Tech Toronto; they are looking to make the Toronto city budget more accessible for citizens. The team is creating an open sourced platform that runs analytics on open budget data, and in the process they are engaged in an on-going advocacy on the value of open data, and for having better access to financial data for all cost centres in the city. The project uses demographic data, and financial open data for government programs by revenue and expenses. 
</td>
</tr>

<tr>
  <td><a href="http://weatherwatchers.ca/index.php">Weather Watchers</a></td>
  <td>The Weather Watchers web tool provides SMS or email alerts on severe weather watches and warning for areas in Canada as requested by users. This tool takes meteorological observation data from Environment Canada, and visualizes live severe weather warning information on Google maps. Some of the raw meteorological data is gathered by volunteers, especially in remote locations far from automated weather stations. The map refreshes its data every 15 minutes. The tool is free to use, and users can sign up for alerts to as many sites as needed.</td>
</tr>

<tr>
  <td><a href="http://iquantny.tumblr.com/post/144197004989/the-nypd-was-systematically-ticketing-legally">Parking Data, Ben Wellington</a></td>
  <td>In this published blog post, Ben Wellington described a personal project looking at whether New York police were ticketing legally parked vehicles. He noted a recent law change in the city that allowed drivers to park in front of a sidewalk pedestrian ramp, if not connected to a sidewalk. Even though the law was adopted, it was sparely enforced. He used the parking ticket data set from the NYPD's open data portal. Then he correlated the geolocation data of issued parking tickets with areas he determined to be legal parking areas through Google maps street view. He found several locations in which police were repeatedly ticketing legal parking spots. He notified the NYPD of his findings, and they responded with gratitude, acknowledging the error. </td>
</tr>

      <tr>
	<td><a href="https://chihacknight.org/projects/2016/05/01/e-coli-predictions.html">Predicting E. Coli levels in Chicago Beaches</a></td>
	<td>Volunteers at Chi Hack Night, a civic tech community group in Chicago, created a predictive analytics tool for tracking E. coli in Chicago’s beach waters. The city needed a way to warn annual visitors to Chicago’s three-dozen beaches when waters reach potentially high E. Coli levels. The team were able to improve and outperform the previous statistical model used to predict E. Coli levels. The project was eventually adopted by the city of Chicago, to help park districts determine when to warn swimmers of the risk of infectious bacteria in the water. </td>
      </tr>
      
      <tr>
	<td><a href="https://itunes.apple.com/us/app/dinesafe-toronto-restaurant/id602002198?ls=1&mt=8">DineSafe TO app</a></td>
	<td>DineSafe is an application front-end for the city of Toronto's food safety databse, and it is available at the app store for a small fee. The developer used municipal open data to visualize historical health inspection data on restaurants in Toronto.
</td>
      </tr>
      
      <tr>
	<td><a href="beerhunter.ca">beerhunter</a></td>
	<td>This website scrapes and crowd-sources data from Ontario LCBOs, Beer Stores, Wine Racks and Indy Breweries to help you find an open vendor near your location.</td>
      </tr>
      
    </table>
  </div>
</div>
